<mat-toolbar color="primary" class="nav">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
  @for (item of pokemonDetails$ | async; track item) {
    <div class="content">
      @for (type of typePoke; track $index) {
        @if (item.types[0].type.name == type.name) {
          <div
            class="card"
            [ngStyle]="{
              background:
                'radial-gradient(circle at 50% 0%, ' +
                type.color +
                ' 36%, #ffffff 36%)'
            }"
          >
            <p class="hp">
              <span>HP</span>
              {{ item.stats[0].base_stat }}
            </p>
            <img [src]="item.sprites.other.dream_world.front_default" alt="" />
            <h2 class="poke-name" (click)="toggleActive(item)">
              {{ item.name }}
            </h2>
            <!--            <div class="types">-->
            <!--              <span>{{ item.types[0].type.name }}</span>-->
            <!--            </div>-->
            <div class="stats">
              <div>
                <h3>{{ item.stats[1].base_stat }}</h3>
                <p>Attack</p>
              </div>
              <div>
                <h3>{{ item.stats[2].base_stat }}</h3>
                <p>Defense</p>
              </div>
              <div>
                <h3>{{ item.stats[5].base_stat }}</h3>
                <p>Speed</p>
              </div>
            </div>
          </div>
        }
      }
    </div>
  }
</div>

<div class="modal" [ngClass]="{ active: isActive }" id="active">
  <div class="modal-content">
    <div class="row">
      <span class="close" (click)="toggleClose()" style="font-size: 25px">
        <i class="fa-solid fa-xmark"></i>
      </span>
    </div>

    <div class="inner-content">
      <div class="left">
        <img [src]="Pokemon.sprites.other.dream_world.front_default" alt="" />
        <h2 class="poke-name">{{ Pokemon.name }}</h2>
        @for (type of typePoke; track $index) {
          @if (Pokemon.types[0].type.name == type.name) {
            <span
              [ngStyle]="{
                background: type.color
              }"
              >{{ Pokemon.types[0].type.name }}</span
            >
          }
        }
      </div>
      <div class="right">
        <div class="modal-stats">
          <div class="icon"><img src="./assets/Hp.png" alt="" /></div>
          <div class="text">
            <p>
              <span>HP:</span>
              {{ Pokemon.stats[0].base_stat }}
            </p>
            <mat-progress-bar
              mode="determinate"
              [value]="Pokemon.stats[0].base_stat"
            ></mat-progress-bar>
          </div>
        </div>
        <div class="modal-stats">
          <div class="icon"><img src="./assets/Attack.png" alt="" /></div>
          <div class="text">
            <p>
              <span>Attack:</span>
              {{ Pokemon.stats[1].base_stat }}
            </p>
            <mat-progress-bar
              mode="determinate"
              [value]="Pokemon.stats[1].base_stat"
            ></mat-progress-bar>
          </div>
        </div>
        <div class="modal-stats">
          <div class="icon"><img src="./assets/Defense.png" alt="" /></div>
          <div class="text">
            <p>
              <span>Defense:</span>
              {{ Pokemon.stats[2].base_stat }}
            </p>
            <mat-progress-bar
              mode="determinate"
              [value]="Pokemon.stats[2].base_stat"
            ></mat-progress-bar>
          </div>
        </div>
        <div class="modal-stats">
          <div class="icon">
            <img src="./assets/Special-Attack.png" alt="" />
          </div>
          <div class="text">
            <p>
              <span>Special-Attack:</span>
              {{ Pokemon.stats[3].base_stat }}
            </p>
            <mat-progress-bar
              mode="determinate"
              [value]="Pokemon.stats[3].base_stat"
            ></mat-progress-bar>
          </div>
        </div>
        <div class="modal-stats">
          <div class="icon">
            <img src="./assets/Special-Defense.png" alt="" />
          </div>
          <div class="text">
            <p>
              <span>Special-Defense:</span>
              {{ Pokemon.stats[4].base_stat }}
            </p>
            <mat-progress-bar
              mode="determinate"
              [value]="Pokemon.stats[4].base_stat"
            ></mat-progress-bar>
          </div>
        </div>
        <div class="modal-stats">
          <div class="icon"><img src="./assets/Speed.png" alt="" /></div>
          <div class="text">
            <p>
              <span>Speed:</span>
              {{ Pokemon.stats[5].base_stat }}
            </p>
            <mat-progress-bar
              mode="determinate"
              [value]="Pokemon.stats[5].base_stat"
            ></mat-progress-bar>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
